.git
.venv
build
static/img
raw
places
tests
.env
.env.*
.media
.site
vilf.db
*.ipynb
__pycache__
.pytest_cache
infra
.github
.canivete
flake.nix
flake.lock
.sops.yaml
.envrc
scripts/credentials.json
