{% extends "base.html" %}
{% block content %}
<section class="content">
  <h2 class="name">About The Good Taste Guide</h2>
  <p>The Good Taste Guide is compiled and maintained by <a href="https://www.aapelivuorinen.com">Aapeli Vuorinen</a> and <a href="https://itsiweinstock.com">Itsi Weinstock</a>.</p>
  <p><b>Sampling</b>: Itsi and Aapeli</p>
  <p><b>Rating for taste and value</b>: Itsi and Aapeli</p>
  <p><b>Technical implementation</b>: Aapeli with help from Itsi</p>
  <p><b>Qualitative review</b>: Itsi with help from Aapeli</p>
</section>
{% endblock %}
