{% extends "base.html" %}
{% block content %}
<section class="content">
  <h2 class="name">About The Good Taste Guide</h2>
  <p>Welcome! We assume you're here because you want to find good vegan food to eat in New York — actually good vegan food. We're here to help.</p>
  <p>We are <b><a href="https://www.aapelivuorinen.com">Aapeli Vuorinen</a> (non-vegan)</b> and <b><a href="https://itsiweinstock.com">Itsi Weinstock</a> (vegan)</b>. We have the good taste and would like to share our insights.</p>
  <p>Our philosophy is that vegan food can be, and is, competitive with non-vegan food. Good food is good food. However, people can get over-zealous in their approval of vegan restaurants, and things are in general rated too highly. A lot of food out there isn't amazing, and that includes vegan stuff. We want to hold them to a higher standard.</p>
  <p>Simply put, we want to find those vegan restaurants and food options that anyone would want to eat at. This is a critical resourse that aims to make vegan food more accessible by providing an easy way to find good options wherever you are.</p>
  <p><b><a href="mailto:tgtg@itsiweinstock.com">Email us all complaints, compliments, and suggestions.</a></b></p>
  <p>Yes, we will hang out with you at favourite place and add it to the map.</p>
</section>
{% endblock %}
