{% extends "base.html" %}
{% block content %}
<section class="content">
  <h2 class="name">About The Good Taste Guide</h2>
  <p>Welcome! We assume you're here because you want to find good vegan food to eat in New York, actually good vegan food. We're here to help.</p>
  <p>We are <b><a href="https://www.aapelivuorinen.com">Aapeli Vuorinen</a> (non-vegan)</b> and <b><a href="https://itsiweinstock.com">Itsi Weinstock</a> (vegan)</b>. We have the good taste and would like to share our insights.</p>
  <p>Our philosophy is that good vegan food is good food. Period. People can get over-zealous in their approval of vegan restaurants, and we think things are in general rated too highly. The fact is that most food out there isn't that amazing, and that's true for vegan food too. Vegan food can, and should, be held to the same somewhat objective standard as non-vegan.</p>
  <p>Simply put, we want to find those vegan restaurants and food options that anyone would want to eat at. This is a critical resourse that aims to make vegan food more accessible by providing an easy way to find good options wherever you are.</p>
  <p><b>Sampling</b>: Itsi and Aapeli</p>
  <p><b>Rating for taste and value</b>: Itsi and Aapeli</p>
  <p><b>Technical implementation</b>: Aapeli with help from Itsi</p>
  <p><b>Qualitative review</b>: Itsi with help from Aapeli</p>
</section>
{% endblock %}
