{% extends "template.html" %}
{% block extra_head %}
<script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="map"></div>
<script>
maplibregl.accessToken = "pk.eyJ1IjoiYWFwZWxpIiwiYSI6ImNrdm56dW84ejF4cmwydXFnMTNid2pkdXIifQ.OAdGTs-NsR5znCfS7vmyIQ";

var map = new maplibregl.Map({
  container: "map",
  style: "mapbox://styles/mapbox/outdoors-v11",
  center: [-73.99525, 40.76041],
  zoom: 12,
  hash: "spot",
});

function placeClicked(event) {
  var feature = event.features[0]
  console.log(feature)
  location.href = feature.properties.url
}

map.on("load", function () {
  map.addSource("places", {
    "type": "geojson",
    "data": "/places.geojson"
  });

  map.addLayer({
    "id": "place-markers",
    "type": "circle",
    "source": "places",
    "paint": {
      "circle-radius": 6,
      "circle-color": "#d44c43",
      "circle-stroke-width": 2,
      "circle-stroke-color": "#ffffff"
    },
    "filter": ["==", "$type", "Point"]
  });

  map.on("click", "place-markers", placeClicked);
});
</script>
{% endblock %}
