{% extends "base.html" %}
{% block extra_head %}
<script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<section class="content">
  <h1>Latest Reviews</h1>
  {% for place in places %}
  <p class="list_info small_date">{{ place["visited_display"] }}</p>
  <h2 class="name"><a href="{{ place["url"] }}">{{ place["name"] }}</a></h2>
  <p class="list_info address">{{ place["address"] }}, {{ place["area"] }}</p>
  <p class="list_info"><b style="color: {{ place["taste_color"] }}">{{ place["taste_label"] }}</b> taste. <b style="color: {{ place["value_color"] }}">{{ place["value_label"] }}</b> value.</p>
  <p class="blurb">{{ place["blurb"] }}</p>
  {% endfor %}
</section>
{% endblock %}
