{% extends "base.html" %}
{% block extra_head %}
<script src="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.15.2/dist/maplibre-gl.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="map"></div>
<script>
maplibregl.accessToken = "pk.eyJ1IjoiYWFwZWxpIiwiYSI6ImNrdm56dW84ejF4cmwydXFnMTNid2pkdXIifQ.OAdGTs-NsR5znCfS7vmyIQ";

var map = new maplibregl.Map({
  container: "map",
  style: "mapbox://styles/mapbox/outdoors-v11",
  center: [-73.98, 40.72],
  zoom: 11,
  hash: "spot",
});

// Add geolocate control to the map.
map.addControl(
    new maplibregl.GeolocateControl({
        positionOptions: {
            enableHighAccuracy: true
        },
        // When active the map will receive updates to the device's location as it changes.
        trackUserLocation: true,
        // Draw an arrow next to the location dot to indicate which direction the device is heading.
        showUserHeading: true
    })
);

function placeClicked(event) {
  var feature = event.features[0]
  console.log(feature)
  location.href = feature.properties.url
}

map.on("load", function () {
  map.addSource("places", {
    "type": "geojson",
    "data": "/places.geojson"
  });

  map.addLayer({
    "id": "place-markers",
    "type": "circle",
    "source": "places",
    "paint": {
      "circle-radius": 7,
      "circle-color": ["get", "taste_color"],
      "circle-stroke-width": 2,
      "circle-stroke-color": "#ffffff"
    },
    "filter": ["==", "$type", "Point"]
  });

  map.on("click", "place-markers", placeClicked);
});
</script>
{% endblock %}
