{% extends "base.html" %}
{% block content %}
<section class="content">
  <h1 class="name">{{ name }}</h1>
  <p class="address"><a href="geo://?q={{ geodata }}">{{ address }}, <b>{{ area }}</b></a></p>
  <p class="cuisine">{{ cuisine }} food</p>
  <p class="restaurant-links">
    {% if menu %}
    <a href="{{ menu }}" target="_blank">Menu</a>
    {% endif %}
    {% if menu and phone_display %}
     | 
    {% endif %}
    {% if phone_display %}
    <a href="tel:{{ phone }}">{{ phone_display }}</a>
    {% endif %}
  </p>
  <p class="mono-info">Taste: <b>{{ taste_html }}</b></p>
  <p class="mono-info">Value: <b>{{ value_html }}</b></p>
  <p class="mono-info drinks">Booze: <b>{{ drinks_html }}</b></p>
    {% if sgfi %}
    <p><b class="sgfi">Something Going For It</b> — {{ sgfi }}</p>
    {% endif %}
    {% if taste==0 %}
    <p><b class="dnr">Do Not Recommend</b></p>
    {% endif %}
    {% if food_image_path %}
    <img src="{{ food_image_path }}" alt="Vegan {{ cuisine }} food at {{ name }} in {{ area }}, New York" class="food-image"> 
    {% endif %}
  <h3 class="notes">Remarks</h3>
  {{ content }}
  <p class="sampling-date">Last sampled {{ visited_display }}.</p>
  <p class="contact-us"><b>Complaints, compliments, suggestions or want to hang out and get some food?</b>
  <p class="contact-us"><b><a href="mailto:contact@thegoodtaste.guide">Chuck us an email...</a></b></p>
  <h3 class="meme-name">Andy's Meme Corner</h3>
  <div id="memeContainer"></div>
</section>

<script>
  function insertRandomMeme() {
    const n_memes = {{ n_memes }};
    var img = document.createElement("IMG");
    const id = Math.floor(Math.random() * n_memes);
    const src = `/img/memes/${id}.jpg`;
    img.setAttribute("src", src)
    if (screen && screen.width > 800) {
      img.setAttribute("height", 450)
    } else {
      img.setAttribute("width", screen.width - 32)
    };
    elem = document.getElementById("memeContainer")
    elem.appendChild(img)
  }
  insertRandomMeme();
</script>
{% endblock %}
