{% extends "base.html" %}
{% block content %}
<section class="content">
  <h2 class="name">{{ name }}</h2>
  <p class="address"><a href="geo://?q={{ geodata }}">{{ address }}, {{ area }}</a></p>
  <p>
    {% if menu %}
    <a href="{{ menu }}" target="_blank">Menu</a> | 
    {% endif %}
    {% if phone_display %}
    <a href="tel:{{ phone }}">{{ phone_display }}</a>
    {% endif %}
  </p>
  <p class="taste">Taste: <b>{{ taste_html }}</b></p>
  <p class="value">Value: <b>{{ value_html }}</b></p>
  <h3 class="notes">Notes</h3>
  {{ content }}
  <p class="sampling_date">Last sampled {{ visited }}</p>
</section>
{% endblock %}
